<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cajero Bloqueado</title>
    <style>
        body{
            background-color:darkred;
            color:white;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .contenedor{
            margin-top: 18%;
        }

        h1{
            font-size: 50px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="contenedor">
        <h1>CAJERO BLOQUEADO</h1>
    </div>
</body>
</html>