<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despedida</title>
    <style>
        body{
            background-color: lightgreen;
            color:black;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .contenedor{
            margin-top: 16%;
        }

        h1{
            font-size: 50px;
            font-weight: bold;
        }

        p{
            font-size: 30px;
            font-style: italic;
        }
        
    </style>
</head>
<body>
    <div class="contenedor">
        <h1>¡HASTA LUEGO!</h1>
        <p>Esperamos que haya disfrutado de su estancia. ¡Vuelva pronto!</p>
    </div>
</body>
</html>