body{
    text-align: center;
}

.container{
background-color:rgb(31, 63, 106);
background: radial-gradient(circle, rgb(232, 205, 217) 0%, rgb(31, 63, 106) 85%);
max-width: 600px;
border-radius: 5px;
margin: 0 auto;
padding: 20px;
margin-top: 5%;
}

h1{
    font-size: 40px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
}

.menu ul{
    align-items: center;
    list-style: none;
}

.return{
    margin-top: 4%;
}

.menu li{
padding: 5px 10px;
margin-right: 7%;
}

button{
    background-color: rgb(31, 63, 106);
    color:white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(31, 63, 106);
}